*{
    margin: 0;
    box-sizing: border-box;
}

.first-color { 
	background: #dcedc2; 
}
	
.second-color { 
	background: #ffd3b5; 
}

.third-color { 
	background: #ffaaa6; 
}

.fourth-color { 
	background: #ff8c94; 
}

/*Centering the page*/
#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

/*Header starts*/
header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: #ffd3b5;
    color: #ff8c94;
}
/*Header ends*/

/*Two column container starts:*/
#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #dcedc2;
}

nav{
    width: 30%;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffd3b5;
    font-size: calc(2px + 2vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
}

nav li{
    font-size: calc(1px + 2vw);
    /* font-size: calc(3px + 3vw); */
    width: 90%;
    background-color:#ffaaa6;
    border: 2px solid #dcedc2 ;
    border-radius: 10px;
    padding: 2vh 0;
    margin: 5vh auto;
    
}

nav a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    width:70%;
    background-color: #dcedc2;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    padding: 2vh 2vw;
}

#main-education{
    text-align: center;   
}

#Courses{
    font-size: calc(1.5px + 1.5vw);
}


#UCI,#BU{
    /* background: #ffffff; */
    
    width: 40%;
    margin: 1vh 1vw;
}

#main-title{
    margin: 2vw 0;
    text-align: center;
    font-size: calc(2px + 2vw);
    color: #ff8c94;
}
/*Two column container ends*/

.two-columns {
    column-count: 2;     
    column-gap: 20px;   
    font-size: calc(1.25px + 1.25vw);
}

footer{
    background-color: #ffd3b5;
    color: #ff8c94;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#time-date{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a{
    color: #ff8c94;
}

@media screen and (max-width: 900px) {
    header{
        align-items: center;
    }

    #container{
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffd3b5;
        list-style: none;
        padding-left: 0;
    }

    nav li{
        font-size: calc(2px + 1.5vw);
        background-color:#ffaaa6;
        border: 2px solid #dcedc2 ;
        padding: 1% .5%;
        margin: 1% .5%;
    }

    nav a{
        text-decoration: none;
    }

    main{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 100vh;
        background-color: #dcedc2;
    }


    #main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Courses{
        font-size: calc(3px + 3vw);
    }

    .two-columns{
        column-count: 1;
        
        font-size: calc(2.5px + 2.5vw);
    }


    #main-title{
        text-align: center;
        color: #ff8c94;
    }
}